.NftItem {
    text-align: center;
    padding: 1rem 0;
    line-height: 1.15;
    background-color: #F8F8F8;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}

.NftItem .ItemTitle {
    font-size: 1.1rem;
    color:#646464;
    font-weight: 600;
    line-height: 1.5;
}

.NftItem .Stats{
    font-size: 1rem;
    color: #888;
}

.NftItem .SetStat {
    font-size: 0.7em;
    color: white;
    background-color: green;
    padding:1px 3px;
    margin-right:3px;
    border-radius: 3px;
}

.NftItem .NftItemL {
    min-width: 100px;
}

.NftItem .NftItemC {
    width: 100%;
    vertical-align: top;
    padding-top: 0.5em;
}
