.EmailSignUpBox {
    padding: 0.8rem 0 0 0;
    max-width: 25rem;
}

.EmailSignUpBox h1 {
    font-size:1.5rem;
    margin:0 0 1.5rem 0;
}

.EmailSignUpBox h2 {
    font-weight: normal;
    font-size:1em;
    margin-bottom:0.25em;
}

.EmailSignUpBox .desc {
    text-align:left;
    font-size:1em;
    line-height: 150%;
    margin-bottom: 1.5em;
}

.EmailSignUpBox .EmailInput {
    margin-top: 0.5rem;
}

.EmailSignUpBox .FooterBox {
    margin-top: 1rem;
}