.ItemFrame {
    display: inline-block;
    width: 70px;
    border: 3px solid #A1A1A1;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    line-height: 1.4285em;
}

.ItemIconBig .ItemFrame {
    width: 110px;
}

.ItemBox {
    display: inline-block;
    width: 70px;
    border: 3px solid black;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    line-height: 1.4285em;
}

.ItemLevelBox {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 0.8em;
    color: #626262;
}

.ItemScore {
    position: absolute;
    right: -3px;
    top: -3px;
    font-size: 0.7em;
    padding:0 3px;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.ItemGradeColor1 {
    border-color: #A1A1A1;
}

.ItemGradeColor2 {
    border-color: #F9D53F;
}

.ItemGradeColor3 {
    border-color: #ACD54A;
}

.ItemGradeColor4 {
    border-color: #C68CE1;
}

.ItemGradeColor5 {
    border-color: #FD775A;
}


.ItemGradeBgColor1 {
    background-color: rgb(231,231,231);
}

.ItemGradeBgColor2 {
    background-color: rgb(254,245,207);
}

.ItemGradeBgColor3 {
    background-color: rgb(234,245,210);
}

.ItemGradeBgColor4 {
    background-color: rgb(241,226,248);
}

.ItemGradeBgColor5 {
    background-color: rgb(254,221,214);
}

.ItemIconLevelBox {
    height:3px;
    background-color:#EEE;
}

.ItemIconLevelBar {
    height:3px;
    background-color:#6874DE;
    display: flex;
}

.ItemIconLevelBarLvUp {
    height:3px;
    background-color:#41D245;
    display: flex;
}

.ItemIcon .Small {

}

.ItemIcon .Big {

}

